/* font-family: 'Nunito Sans', sans-serif;
font-family: 'PT Serif', serif; */

/* TIPOGRAFIAS */
h1{
    font-family: PT Serif;
    font-weight: 700;
    font-size: xxx-large;
    color: white;
}

h2{
    font-family: PT Serif;
    font-weight: 700;
    font-size: xx-large;
    color: #712c33;
    margin:0;
}

h3{
    font-family: PT Serif;
    font-weight: 700;
    font-size: x-large;
    color: #712c33;
}

h4{
    font-family: PT Serif;
    font-weight: 700;
    font-size: larger;
    color: #712c33;
}

h5{
    font-family: PT Serif;
    font-weight: bold;
}

p{
    font-family: PT serif;
    font-weight: 400;
    color: #712c33;
}

body{
    margin: 0px 1px;
}
/* HEADER */
.logoHeader{
    width: 75px;
}

#headerBox{
    position: fixed;
    z-index: 9;
    margin: 0;
    padding: 0.5px;
    top:0;
    width: 100%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3); 
    background-color: rgba(255, 255, 255, 0.8);
}

.barraNave{
    width: 100%;
    justify-content: flex-end;
}

.ulBarraNave{
    display: flex;
    align-items: end;
    padding: 0;
}

.ulBarraNaveLi{
    padding: 0 15px;
}
.ulBarraNaveA{
    text-decoration: none;
    font-weight: bold;
    font-family: PT Serif;
    color: #712c33;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s, color 0.3s ease;
}

.ulBarraNaveA:hover{
    color: #371519;
    background-size: 100% 2px;
}

.iconoNav{
    background-image:url(../img/header/planet.png);
    width: 2em;
    height: 2em;
}

.botonNav{
    border-color: transparent;
}
.botonNav:focus{
    border-color: #712c33;
    box-shadow: none;
    background-size: 100% 2px;
}


@media (max-width:990px){
    .ulBarraNaveLi{
        padding-right: 5px;
    }
}
@media (max-width:576px){
    .logoHeader{
        width: 55px;
    }
}
/* BODY */

body{
    background-color: #f0e7de;
}

/* FOOTER */
.footerIcons{
    margin-bottom: 0 !important;
}
.footerDiv{
    padding: 0rem !important;
}
.iconosFooter{
    width: 25px;
}

/* INDEX */
#introIndex{
    margin: 0 3vw;
}

.imgCarrusel{
    height: 95vh;
}
.textoCarrusel{
    width: 100%;
    left: 0;
    right: 0;
    padding: 0;
    bottom: 0;
    background-color: rgba(240, 231, 222, 0.1);
    backdrop-filter: blur(1px) ;
}
.textoCarrusel h1{
    font-family: PT Serif;
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 2rem;
}
.botonesCarrusel{
    margin-bottom: 0;
}
.botonCarrusel{
    position: relative;
    bottom: 0;
    background-color: #f0e7de !important;
    height: 10px !important;
    border-radius: 13px;
    margin-right: 10px !important;
    opacity: .2 !important;
}
.active{
    opacity: 1 !important;
}

#sectionCards{
    display: flex;
    margin-top: 5vh;
    margin-bottom: 5vh;
    justify-content: space-around;
    flex-wrap: wrap;
}
.cardIndex{
    width: 400px;
    background-color: transparent !important;
    border-color: transparent !important;
    margin-top: 5vh;
}

.imgCards{
    height: 600px;
}

.textCards{
    color: #ffffff;
}
.boxBotonCards{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.divBotonCards{
    align-self: center;
    position: absolute;
    bottom: 2rem;
}

.botonCards{
    background-color: #712c33;
    border: none;
}
.botonCards:hover{
    background-color: #371519;
    transition: 0.3s ease;
}

@media(max-width:576px){
    .cardIndex{
        width: 350px;
    }
    .boxBotonCards h5{
        text-align: center;
    }
}


/* RECONECTANDO */
#introReconec{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "video texto";
}

.videoRec{
    grid-area: video;
    display: flex;
    flex-direction: row;
    justify-self: end;
}

video{
    width: 33vw;
}

.textoRec{
    grid-area: texto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #712c33;
    width: 33vw;
}

.textoRec h3{
    text-align: center;
    color: #f0e7de;
    font-weight: bold;
}

.textoRec p{
    color: #f0e7de;
    text-align: center;
    padding: 0px 30px;
}

#section2Reconec{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
    grid-template-areas: "parrafo1Rec parrafo2Rec";
    background-image:url(../img/reconectando/nusapenida.jpeg);
    background-size: cover;
}

.parrafo1Rec{
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area: parrafo1Rec;
    margin: 2vw;
    padding: 3vw;
    background-color: rgba(240, 231, 222, 0.7)
}

.parrafo1Rec h4{
    color: #712c33;
}
.parrafo1Rec p{
    color: #712c33;
}

.parrafo2Rec{
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area: parrafo2Rec;
    margin: 2vw;
    padding: 3vw;
    background-color: rgba(240, 231, 222, 0.7)
}
.parrafo2Rec h4{
    color: #712c33
}
.parrafo2Rec p{
    color: #712c33
}

#libroReconec{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "textoLibro imgLibro";
}

.textoLibro{
    grid-area: textoLibro;
    display: flex;
    flex-direction: column;
    width: 33vw;
    background-color: #712c33;
    justify-self: end;
}
.textoLibro h2{
    color: #f0e7de;
    text-align: center;
    padding: 0vw 3vw;
}

.textoLibro p{
    color: #f0e7de;
    text-align: end;
    padding: 0vw 3vw;
}

.imgLibro aside img{
    grid-area: imgLibro;
    width: 33vw;
}

.textoLibro ul{
    display: flex;
    flex-direction: column;
    align-self: center;
    list-style-type: none;
    align-items: center;
}
.textoLibro ul li{
    margin: 25px;
}

.textoLibro ul li a{
    text-decoration: none;
    padding: 10px;
    background-color: #f0e7de;
    color: #712c33;
}

/* LOS GUIAS */
#introGuias{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "video texto";
}

.videoGuias{
    grid-area: video;
    display: flex;
    flex-direction: row;
    justify-self: end;
}

video{
    width: 33vw;
}

.textoGuias{
    grid-area: texto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #712c33;
    width: 33vw;
}

.textoGuias h3{
    text-align: center;
    color: #f0e7de;
    font-weight: bold;
}

.textoGuias p{
    color: #f0e7de;
    text-align: center;
    padding: 0px 30px;
}

#section2Guias{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
    grid-template-areas: "parrafo1Guias parrafo2Guias";
    background-image:url(../img/reconectando/nusapenida.jpeg);
    background-size: cover;
}

.parrafo1Guias{
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area: parrafo1Guias;
    margin: 2vw;
    padding: 3vw;
    background-color: rgba(240, 231, 222, 0.7)
}

.parrafo1Guias h4, .parrafo1Guias p{
    color: #712c33;
}

.parrafo2Guias{
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area: parrafo2Guias;
    margin: 2vw;
    padding: 3vw;
    background-color: rgba(240, 231, 222, 0.7)
}
.parrafo2Guias h4, .parrafo2Guias p{
    color: #712c33
}

.divSesionesGuias{
    display: flex;
    justify-content: center;
}
.sesionesGuias{
    display: flex;
    flex-direction: column;
    max-width: 800px;
    align-items: center;
    margin-top: 10vh;
    margin-bottom: 10vh;
}

.sesionesGuias h3, .sesionesGuias h4, .sesionesGuias p{
    text-align: center;
    background-color: #ffffff;
    padding: 5px;
}

.sesionesGuias a{
    text-decoration: none;
    text-align: center;
    background-color: #712c33;
    margin: 10px;
    color: white;
    padding: 5px;
}

/* BLOG */
#bodyBlog{
    padding-top: 55px;
}

#blog h2{
    text-align: center;
}

.blogArticle{
    background-color: white;
    margin: 15px;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.blogArticle a img{
    width: 400px;
}

.blogArticle aside a{
    text-decoration: none;
}

/* CONTACTO */

#redes-formulario{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    min-height: 95vh;
}
.gridRedes{
    display: grid;
    grid-template-areas: "redes spoti"
    "redes spoti";
    column-gap: 30px;
}
.instaTelegram{
    grid-area: redes;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.spotiList{
    grid-area: spoti;
}
.misRedes{
    display: flex;
    flex-direction: column;
    max-width: 420px;
    margin-top: 14vh;
}
.formContacto{
    display: flex;
    flex-direction: column;
    max-width: 420px;
    margin-top: 14vh;
    margin-bottom: 4vh;
}
.formContacto article img{
    width: 400px;
    height: 400px;
}
.instaTelegram a img{
    width: 150px;
}

iframe{
    height: 400px;
}

@media(max-width:768px){
    
    #redes-formulario{
        flex-direction: column;
        align-items: center;
    }
    .misRedes{
        margin-top: 14vw;
        width: 350px;
    }
    .misRedes h2{
        text-align: center;
    }
    .formContacto{
        margin-bottom: 10vh;
        width: 350px;
        margin-top: 8vh;
    }
    .formContacto h2{
        text-align: center;
    }
    .formContacto article img{
        width: 350px;
        height: 350px;
    }
    .gridRedes{
        display: flex;
        flex-wrap: wrap;
    }
    .instaTelegram{
        flex-direction: row;
        align-items: space-around;
        width: 100%;
    }
    .instaTelegram a img{
        width: 100px;
    }
    .spotiList{
        display: flex;
        width: 100%;
        justify-content: center;
        margin-top: 5vh;
    }

}


