$bg-pd: (
    bla-trans0: rgba(#000000, 0),
    bla-trans3: rgba(#000000, 0.3),
    bla-trans4: rgba(#000000, 0.4),
    whi-trans8: rgba(255, 255, 255, 0.8),
    whi: white,
    vio1: #712c33,
    vio2: #371519,
    pdmax: 30px,
    pdmid1: 20px,
    pdmid2: 10px,
    pdmin1: .5px,
    pdmin: 0,
    )